@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

/* ############### CSS RESET ############## */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body{
  font-family: 'Roboto', 'Arial';
}

/* ################# HEADER STYLING ################ */
header{
  background: url(../imgs/headbg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; 
  height: 35rem;
  position: relative;
}
header::after{
  content: '';
  background-color: #f4f4f446;
  position: absolute;
  top: 9%;
  left: 0%;
  width: 100%;
  height: 32rem;
}
.flex-con1{
  background-color: #f4f4f4;
  height: 5vh;
  display: flex;
  justify-content: space-evenly;
  opacity: 0.8;
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
header{
  z-index: 450;
}
header .fw{
  font-size: 2.5rem;
  padding: 0.5rem;
}
header .nav-items a{
  text-decoration: none;
  color: #555;
}
header ul.nav-items{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style-type: none;
  font-size: 1.6rem;
  font-weight: 700;
}
header ul .item{
  padding: 0.75rem 0.75rem;
}
header .nav-items a:hover{
  color: #76a7b6;
}
.htext{
  text-align: center;
  position: absolute;
  z-index: 450;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}
.htext-h2{
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-size: 2.8rem;
  color: #f7ecec;
  font-weight: 900;
}
.htext-p{
  margin-bottom: 2rem;
  font-size: 1.9rem;
  color: #f7ecec;
  font-weight: 300;
}
a.htext-btn{
  text-decoration: none;
  color: #f4f4f4;
  font-weight: 900;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  font-size: 1.7rem;
  background-color: #14596e;
  padding: 1rem 2rem;
  border-radius: 5rem;
  text-align: center;
}
a.htext-btn:hover{
  background-color: #f4f4f4;
  color: #14596e;
  transition: all 0.5s ease-in-out;
  border: 2px solid #14596e;
}
/* #################### ABOUT STYLING ##################### */
section.about{
  background: #fff;
  height: 40rem;
}
section .about-wrapper{
  background: #f1f1f1;
  width: 100rem;
  margin: 5rem auto;
  padding: 1rem;
  height: auto;
  display: flex;
  justify-content: space-between;
  border-radius: 5rem;
}
.text-abt{
  width: 40rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  animation-name: start1;
  animation-duration: 1s;
}
.img-abt{
  padding: 2rem;
  animation-name: start2;
  animation-duration: 1s;
}
@keyframes start1{
  0%{
    transform: translateX(-80%)
  }
  100%{
    transform: translateX(0%)
  }
}
@keyframes start2{
  0%{
    transform: translateX(80%)
  }
  100%{
    transform: translateX(0%)
  }
}
.text-abt h4{
  font-weight: 500;
  font-size: 1.6rem;
  margin-bottom: 1rem;
}
.text-abt .p1{
  font-weight: 900;
  font-size: 2.2rem;
  margin-bottom: 3rem;
}
.text-abt .p2{
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.5rem;
}
.img-abt img{
  width: 30rem;
  height: 30rem;
  opacity: 0.8;
  border-radius: 10rem;
}
/* ################ CATEGORY STYLING ################## */
.categ h2.head1{
  color: #14596e;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 500;
  text-transform: uppercase;
  margin: 5rem auto;
}
.imgs{
  display: flex;
  justify-content: center;
}
.categ .imgs img{
  width: 30rem;
  height: 25rem;
  margin-right: 2rem;
  margin-top: 0;
}
.img1, .img2, .img3{
  width: 30rem;
  margin: 1rem;
  position: relative;
}
.imgs h2{
  color: #f5f5f5;
  font-weight: 500;
  font-size: 2.5rem;
  margin-bottom: 2rem;
}
.imgs a{
  font-weight: 500;
  text-decoration: none;
  background-color: #14596e;
  color: #f4f4f4;
  border-radius: 10rem;
  padding: 1rem 2rem;
}
.txt1, .txt2, .txt3{
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  opacity: 0;
  z-index: 3;
  transition: all 0.35s ease-in-out;
}
.img1::after, .img2::after, .img3::after{
  content: '';
  width: 30rem;
  height: 1rem;
  display: block;
  background-color: rgba(0, 0, 0, 0.459);
  position: absolute;
  top: 99%;
  left: 0%;
  transition: height 0.35s ease-in-out ;
  transform: rotateX(180deg);
  transform-origin: top;
  opacity: 0;
}
.txt1 a:hover, .txt2 a:hover, .txt3 a:hover{
  background-color: #f4f4f4;
  color: #14596e;
}
.img1:hover::after, .img2:hover::after, .img3:hover::after{
  height: 25rem;
  opacity: 1;
} 
.img1:hover .txt1, .img2:hover .txt2, .img3:hover .txt3{
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
}
/* ############# MENU STYLING ################### */
.menu .head-menu{
  color: #14596e;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 500;
  text-transform: uppercase;
  margin: 5rem auto;
}
.row1, .row2, .row3{
  display: flex;
  justify-content: center;
}
.menu img{
  object-fit: cover;
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
}
.right1, .right2, .right3, .left1, .left2, .left3{
  margin-right: 10rem;
  margin-bottom: 4rem;
  display: flex;
  justify-content: center;
}
.det1, .det2, .det3, .det4, .det5, .det6{
  width: 25rem;
  position: relative;
  top: 40%; 
  left: 40%;
  transform: translate(-50%, -40%);
}
.det1 h3, .det2 h3, .det3 h3, .det4 h3, .det5 h3, .det6 h3{
  font-size: 2rem;
  font-weight: 400;
  color: #888;
}
.det1 p:first-of-type, .det2 p:first-of-type, .det3 p:first-of-type, .det4 p:first-of-type, .det5 p:first-of-type, .det6 p:first-of-type{
  font-size: 1.2rem;
  font-weight: 500;
  color: #222;
  margin: 1rem;
}
.det1 p:last-of-type, .det2 p:last-of-type, .det3 p:last-of-type, .det4 p:last-of-type, .det5 p:last-of-type, .det6 p:last-of-type{
  font-size: 1.5rem;
  font-weight: 900;
  color: #14596e;
  margin: 1rem;
}
/* ########################## REVIEWS STYLING ######################## */
.reviews .normal{
  margin-top: 1rem;
  text-transform: uppercase;
  font-size: 2.5rem;
  color: #14596e;
  font-weight: 500;
  text-align: center;
}
section.reviews{
  background-color: #f1f1f1;
  padding: 4rem;
  height: auto;
}
.reviews .review{
  margin-top: 3rem;
  display: flex;
  justify-content: center;
}
.reviews .review img{
  object-fit: cover;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
}
.firstPerson, .secondPerson, .thirdPerson{
  margin-right: 2rem;
  width: 30rem;
  text-align: center;
  margin-right: 2rem;
}
.checked{
  color: orange;
  margin-bottom: 1.2rem;
}
.firstPerson p, .secondPerson p, .thirdPerson p{
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  color: #555;
  font-weight: 500;
  margin-bottom: 2rem;
}
.review h3.nameOfPerson{
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: 500;
}
.rest1{
  background-color: #c9c9c9;
  display: flex;
  justify-content: center;
  padding: 4rem;
}
.rest1 .img-box img{
  height: 33rem;
  width: 45rem;
  opacity: 0.9;
}
.rest1 .form-fill{
  background-color: #f9f9f9;
  padding: 1.5rem;
}
.rest1 .form-fill h2{
  font-size: 2rem;
  font-weight: 400;
  color: #333;
  word-spacing: 0.2rem;
  width: 40rem;
  margin-bottom: 1rem;
}
.rest1 .form-fill input.inp1, .rest1 .form-fill textarea{
  width: 100%;
  margin-bottom: 2rem;
  padding: 0.5rem;
  border: none;
  background-color: #f9f9f9;
  border-bottom: 2px solid #14596e;
  color: #14596e;
  font-weight: 700;
}
.rest1 .form-fill textarea{
  height: 11rem;
}
.rest1 .form-fill input:focus, .rest1 .form-fill textarea:focus{
  outline: none;
}
.rest1 .form-fill input[type="submit"]{
  border-radius: 10rem;
  padding: 1rem 2rem;
  background-color: #14596e;
  color: #f4f4f4;
  cursor: pointer;
  border: none;
}
.rest1 .form-fill input[type="submit"]:hover{
  border: 2px solid #14596e;
  background-color: #f4f4f4;
  color: #14596e;
  transition: all 0.5s ease-in-out;
}
.foot-index{
  background-color: #555;
  height: 8rem;
  text-align: center;
}
.foot-index .foot-txt p{
  padding-top: 1rem;
  color: #f9f9f9;
  font-size: 1.5rem;
  font-weight: 500;
}
.ham input[type=checkbox], .ham-lines{
}
/* ################ MEDIA QUERIES ################# */

@media (max-width: 500px){
  html{
    font-size: 50%;
  }
  .ham input[type=checkbox]{
    margin: 0.5rem;
    opacity: 1;
    display: block;
    order: 1;
  }
  .flex-con1{
    display: block;
    height: 6vh;
    position: relative;
  }
  .ham input[type=checkbox]{
    position: absolute;
    top: 3%;
    left: 4%;
  }
  
}
